<div class="header">
    <h2>Saved Concerts</h2>
</div>
<div class="saved">
    {{#if model.savedConcerts.length}}
    {{#each model.savedConcerts as |concert|}}
        {{#link-to 'concerts.show' concert}}
        <div class="card">
            {{#each concert.bands as |band|}}<h3>{{band.name}}</h3>{{/each}}
            <h5>{{moment-format concert.date 'dddd, MMMM Do YYYY'}}</h5>
            <h5>{{concert.venue.name}}</h5>
        </div>
        {{/link-to}}
    {{/each}}
    {{else}}
        <div class="card no-saved-concerts">
            <p>You should save some concerts!</p>
        </div>
    {{/if}}
</div>
{{outlet}}
