<div class="large-card">
    <div class="left">
        <div class="logo">
            <img src="{{model.venue.imageUrl}}" alt="{{model.venue.name}}">
        </div>

        <h3>
            {{model.venue.name}}
            {{#if session.isAuthenticated}}
            {{venue-fav-button venue=model.venue user=session.currentUser onClick='toggleFav'}}
            {{/if}}
        </h3>

        <a href="{{model.venue.url}}">{{fa-icon "link"}}</a>
        {{#if model.venue.facebookUrl}}
        <a href="{{model.venue.facebookUrl}}">{{fa-icon "facebook"}}</a>
        {{/if}}
        {{#if model.venue.twitterUrl}}
        <a href="{{model.venue.twitterUrl}}">{{fa-icon "twitter"}}</a>
        {{/if}}
        {{#if model.venue.instagramUrl}}
        <a href="{{model.venue.instagramUrl}}">{{fa-icon "instagram"}}</a>
        {{/if}}

        <p>
            {{model.venue.address}} {{model.venue.city}}, {{model.venue.state}} {{model.venue.zipcode}}
        </p>
        <p>
            {{model.venue.phoneNumber}}
        </p>
    </div>

    <div class="right">
        <div class="venue-concerts">
            <h4>Upcoming Concerts</h4>
            {{venue-upcoming-concerts concerts=model.venue.concerts}}
        </div>
    </div>
</div>
