<div class="header">
    {{#link-to 'login'}}<h2>Log In</h2>{{/link-to}}
    {{#link-to 'signup'}}<h2>Sign Up</h2>{{/link-to}}
</div>
<div class="large-card">
<form {{action 'signup' email password firstName lastName on='submit'}}>
    <label for="email">Email</label>
    {{input name='email' value=email type='email'}}
    <label for="password">Password</label>
    {{input name='password' value=password type='password'}}
{{!--     <label for="firstName">First Name</label>
    {{input name='firstName' value=firstName}}
    <label for="lastName">Last Name</label>
    {{input name='lastName' value=lastName}} --}}

    <button>Sign Up</button>
</form>
</div>
