<div class="header">
    <h3>Upcoming</h3>
</div>
<div class="saved">
    {{#if upcomingConcerts.length}}
    {{#each upcomingConcerts as |concert|}}
        {{#link-to 'concerts.show' concert.id}}
        <div class="card">
            {{#each concert.bands as |band|}}<h3>{{band.name}}</h3>{{/each}}
            <h5>{{moment-format concert.date 'dddd, MMMM Do YYYY'}}</h5>
            <h5>{{concert.venue.name}}</h5>
        </div>
        {{/link-to}}
    {{/each}}
    {{else}}
        {{#link-to 'concerts'}}
        <div class="card no-saved-concerts">
            <p>You should save some concerts!</p>
        </div>
        {{/link-to}}
    {{/if}}
</div>

<div class="header">
    <h3>Past</h3>
</div>
<div class="saved">
    {{#if pastConcerts.length}}
    {{#each pastConcerts as |concert|}}
        {{#link-to 'concerts.show' concert.id}}
        <div class="card">
            {{#each concert.bands as |band|}}<h3>{{band.name}}</h3>{{/each}}
            <h5>{{moment-format concert.date 'dddd, MMMM Do YYYY'}}</h5>
            <h5>{{concert.venue.name}}</h5>
        </div>
        {{/link-to}}
    {{/each}}
    {{else}}
        {{#link-to 'concerts'}}
        <div class="card no-saved-concerts">
            <p>You should save some concerts!</p>
        </div>
        {{/link-to}}
    {{/if}}
</div>

