<div class="large-card">
    <div class="left">
        {{#each model.concert.bands as |band|}}
        <img src="{{band.imageUrl}}" alt="{{band.name}}">
        <h3>{{band.name}}</h3>

        {{#if band.url}}
        <a href="{{band.url}}">{{fa-icon "link"}}</a>
        {{/if}}
        {{#if band.facebookUrl}}
        <a href="{{band.facebookUrl}}">{{fa-icon "facebook"}}</a>
        {{/if}}
        {{#if band.twitterUrl}}
        <a href="{{band.twitterUrl}}">{{fa-icon "twitter"}}</a>
        {{/if}}
        {{#if band.instagramUrl}}
        <a href="{{band.instagramUrl}}">{{fa-icon "instagram"}}</a>
        {{/if}}

        {{#if band.description}}
        <p>{{band.description}}</p>
        {{/if}}
        {{#if band.genre}}
        <p><span>Genre:</span> {{band.genre}}</p>
        {{/if}}
        {{#if band.forFansOf}}
        <p><span>For Fans of:</span> {{band.forFansOf}}</p>
        {{/if}}
        {{/each}}
    </div>

    <div class="right">
        <div class="actions">
            <button{{action 'saveConcert' model.concert on='click'}}>{{fa-icon "plus"}}</button>
            <button>{{model.concert.rsvps}}</button>

            {{#if model.concert.ticketUrl}}
            <a href="{{model.concert.ticketUrl}}"><button>Buy Tickets</button></a>
            {{/if}}
        </div>

        <h2>{{model.concert.date}}</h2>
        <h3>{{model.concert.venue.name}}</h3>
        <p>
            {{model.concert.venue.address}}
            <br>
            {{model.concert.venue.city}}, {{model.concert.venue.state}} {{model.concert.venue.zipcode}}
        </p>
    </div>

    {{outlet}}
</div>
