<div class="header">
    <h2>This Week</h2>
</div>
{{this-week concerts=model.user.savedConcerts}}

<div class="header">
    <h2>Featured Concerts</h2>
</div>
<div class="featured">
    {{#each model.concerts as |concert|}}
    {{#if concert.featured}}
        {{#link-to 'concerts.show' concert.id}}
        <div class="card">
            {{#each concert.bands as |band|}}<h3>{{band.name}}</h3>{{/each}}
            <h5>{{moment-format concert.date 'dddd, MMMM Do YYYY'}}</h5>
            <h5>{{concert.venue.name}}</h5>
        </div>
        {{/link-to}}
    {{/if}}
    {{/each}}
</div>

<div class="links">
    {{#link-to 'concerts'}}<h3>All Concerts</h3>{{/link-to}}
    {{#link-to 'venues'}}<h3>All Venues</h3>{{/link-to}}
</div>
{{outlet}}
