<div class="header">
    <h2>Saved Concerts</h2>
</div>
<div class="saved">
    {{#if model.user.savedConcerts.length}}
    {{#each model.user.savedConcerts as |concert|}}
        {{#link-to 'concerts.show' concert.id}}
        <div class="card">
            {{#each concert.bands as |band|}}<h3>{{band.name}}</h3>{{/each}}
            <h5>{{concert.date}}</h5>
            <h5>{{concert.venue.name}}</h5>
        </div>
        {{/link-to}}
    {{/each}}
    {{else}}
        <div class="card no-saved-concerts">
            <p>You should save some concerts!</p>
        </div>
    {{/if}}
</div>

<div class="header">
    <h2>Featured Concerts</h2>
</div>
<div class="featured">
    {{#each model.concerts as |concert|}}
    {{#if concert.featured}}
        {{#link-to 'concerts.show' concert.id}}
        <div class="card">
            {{#each concert.bands as |band|}}<h3>{{band.name}}</h3>{{/each}}
            <h5>{{concert.date}}</h5>
            <h5>{{concert.venue.name}}</h5>
        </div>
        {{/link-to}}
    {{/if}}
    {{/each}}
</div>

<div class="links">
    {{#link-to 'concerts'}}<h3>All Concerts</h3>{{/link-to}}
    {{#link-to 'venues'}}<h3>All Venues</h3>{{/link-to}}
</div>
{{outlet}}
